aniso8601==8.0.0
asgiref==3.2.7
click==7.1.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.6
django-bootstrap-form==3.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysqlclient==1.4.6
PyMySQL==0.9.3
python-decouple==3.3
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
static3==0.7.0
Werkzeug==1.0.1
