<!--<!DOCTYPE html>-->
<!--<html lang="en">-->


<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->

<!--<body>-->




<!--</body>-->
<!--</html>-->


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Django 2.1</title>-->
<!--</head>-->
<!--<body>-->


{%extends 'base.html' %}
{% load bootstrap %}
{%block title %} Confirma Exclusao {% endblock %}

{%block content %}
    <form method="POST">
        {%csrf_token %}

        <h1>Confirma a exclusao do usuario >>>> {{registroA.username}} <<<< ?</h1>
        <input type="submit" class="btn btn-primary" value="Confirmar">
        <a href="{%url 'usuario'%}" class="btn btn-primary">Voltar</a>

    </form>


{% endblock %}